
<h2> My lists</h2>
<div data-controller="sortable" data-sortable-target="list">
  <% @lists.each do |list| %>
  <div  class="sortable-draggable">
    <h4><%= link_to list.name, list_path(list.id) %> </h4>
  </div>
   <% end %>
</div>
