<div class = "mt-2">
</div>
<div>

<div class = "cards" style = "margin-left: 10px; margin-right: 10px;">
  <% @lists.each do |list| %>
    <div class = "card">
      <% list.photos.each do |photo| %>
        <a href = "<%= list_path(list.id) %>">
          <%= cl_image_tag photo.key, height: 150, width: 150, crop: :fill, class: "card-image"%>
          <div class = "centered"> <%= list.name %> </div>
        </a>
    </div>
    <% end %>
  <% end %>
</div>
